@model DVDRental.Models.ViewModels.DVDTitleCreateVM;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DVDTitle</h4>
<hr />
@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <div class="alert alert-
       <strong>Error!</strong> danger">@ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReleased" class="control-label"></label>
                <input asp-for="DateReleased" class="form-control" />
                <span asp-validation-for="DateReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StandardCharge" class="control-label"></label>
                <input asp-for="StandardCharge" class="form-control" />
                <span asp-validation-for="StandardCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PenaltyCharge" class="control-label"></label>
                <input asp-for="PenaltyCharge" class="form-control" />
                <span asp-validation-for="PenaltyCharge" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="StudioName" class="control-label"></label>
                  <input asp-for="StudioName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ProducerName" class="control-label"></label>
                <input asp-for="ProducerName" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="CategoryNumber" class="control-label"></label>
                <select asp-for="CategoryNumber" class ="form-control" asp-items="ViewBag.CategoryNumber"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript">
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
        {
            <text>
            $(document).ready(function() {
                alert('@ViewData.ModelState["Error"].Errors.First().ErrorMessage');
            });
            </text>
        }
    </script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
