@using DVDRental.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DVDRental</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DVDRental.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DVDRental</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                         @if (SignInManager.IsSignedIn(User))
                        {
                            //DVDTitles
                             <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    DVD Titles
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="DVDTitles" asp-action="Index">DVD Titles</a></li>
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="DVDTitles" asp-action="ListCast">Cast Members</a></li>
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="DVDTitles" asp-action="SearchDVDCopies">Search DVD Copies</a></li>
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="DVDTitles" asp-action="OldCopies">Old DVD Copies</a></li>
                                    
                                </ul>
                            </li>
                            //DVD dropdown
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    DVD Management
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="Actors" asp-action="Index">Actors</a></li>
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="Studios" asp-action="Index">Studios</a></li>
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="Producers" asp-action="Index">Producers</a></li>
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="DVDCategories" asp-action="Index">DVD Category</a></li>
                                </ul>
                            </li>

                            //DVDCopies
                             <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    DVD Copy
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="DVDCopies" asp-action="Index">DVD Copies</a></li>
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="DVDCopies" asp-action="LoanedCopies">Loaned Copies</a></li>
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="DVDCopies" asp-action="UnLoanedCopies">UnLoaned Copies</a></li>

                                </ul>
                            </li>


                            //Member dropdown
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Members
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="Members" asp-action="Index">Members</a></li>
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="MembershipCategories" asp-action="Index">Member Category</a></li>
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="Members" asp-action="SearchMemberLoan">Search Member Loan</a></li>
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="Members" asp-action="MemberLoanStatus">Member Loan Status</a></li>
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="Members" asp-action="UnloanedMembers">Unloaned Members</a></li>
                                    
                                </ul>
                            </li>

                            //Loan dropdown
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Loans
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="Loans" asp-action="Index">Loans</a></li>
                                    <li><a class="dropdown-item"  asp-area="" asp-controller="Loantypes" asp-action="Index">Loan Category</a></li>
                                </ul>
                            </li>
                        }
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Manager"))
                        {
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">User Management</a>

                            </li>
                        }
                        else
                        {
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DVDTitles" asp-action="Index">DVD Titles</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DVDTitles" asp-action="SearchDVDCopies">DVD Search Copies</a>
                            </li>
                        }


                    </ul>
                </div>
                <partial name="_LoginPartial"/>
            </div>
        </nav>  
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
